<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kwh_wallet">

    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".MainActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout"
            android:resizeableActivity="true">

            <intent-filter>
                <!--entry point-->
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".controller.Login"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout"
            android:resizeableActivity="true">
        </activity>
        <activity android:name=".controller.MenuActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout"
            android:resizeableActivity="true">
        </activity>
        <activity android:name=".controller.SignUp"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout"
            android:resizeableActivity="true">
        </activity>
        <activity android:name=".controller.ScannerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout"
            android:resizeableActivity="true"
            android:parentActivityName=".controller.MenuActivity">
        </activity>
        <activity android:name=".controller.QRCodeActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout"
            android:resizeableActivity="true"
            android:parentActivityName=".controller.MenuActivity">
        </activity>
        <activity android:name=".controller.TopUpActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout"
            android:resizeableActivity="true"
            android:parentActivityName=".controller.MenuActivity">
        </activity>
        <activity android:name=".controller.HistoryViewActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout"
            android:resizeableActivity="true">
        </activity>
        <activity android:name=".controller.TransferActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout"
            android:resizeableActivity="true">
        </activity>
    </application>
</manifest>
